
@using ShoppingApplication.Models
@{
    ViewBag.Title = "Add";
    List<Product> Products = ViewBag.Products as List<Product>;
}


<h2>Add ProductImages</h2>

@* method="get" ka laganai k baad...
    https.//localhost:44301/Product/Add?email=lubnakhizar24%40gmail.com&password=1234
    '?' k baad wali value ko quere parameter kehtai ha*@
@*action="/Controller/Action"*@

<div class="container">
    <div class="col-lg-4 col-lg-push-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Product
                <div class="panel-body">
                    <form action="/ProductImage/Add" method="post">


                        <input type="hidden" class="form-control" id="id" name="Id">
                        <br />

                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input type="text" class="form-control" id="image" name="Image">
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Product Id:</label>
                            <select name="ProductId" class="form-control">
                                <option value="0">Select Status</option>
                                @foreach (var item in Products)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <br />

                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>

                </div>

            </div>

        </div>


    </div>
</div>


