
@{
    ViewBag.Title = "Add";
}


<h2>Add Products</h2>

@* method="get" ka laganai k baad...
    https.//localhost:44301/Product/Add?email=lubnakhizar24%40gmail.com&password=1234
    '?' k baad wali value ko quere parameter kehtai ha*@
@*action="/Controller/Action"*@

<div class="container">
    <div class="col-lg-4 col-lg-push-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Product
                <div class="panel-body">
                    <form action="/Product/Add" method="post">

                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="Name">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input type="number" class="form-control" id="id" name="Id">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" class="form-control" id="description" name="Description">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="image">Image:</label>
                            <input type="text" class="form-control" id="image" name="Image">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="productstatusid">ProductStatus Id:</label>
                            <input type="number" class="form-control" id="productstatusid" name="ProductStatusId">
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="sellerid">Seller Id:</label>
                            <input type="number" class="form-control" id="sellerid" name="SellerId">
                        </div>
                        <br />

                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>

                </div>

            </div>

        </div>


    </div>
</div>


