
@{
    ViewBag.Title = "Index";
}

 

<h3> <b>Home Index page... </b></h3>
<h3>1-Products</h3>
<h3>2-ProductStatus</h3>
<h3>3-Order</h3>
<h3>4-OrderStatus</h3>
<h3>5-ProductImage</h3>
<h3>6-Role</h3>
<h3>7-User</h3>