
@{
    ViewBag.Title = "Index";
}


<h3> <b>Home page...   [Buyer,Seller,Admin] </b></h3>
<h3>1-Products         [Buyer] </h3>
<h3>2-ProductStatus    [Seller] </h3>
<h3>3-Order            [Buyer]</h3>
<h3>4-OrderStatus      [Seller]</h3>
<h3>5-ProductImage     [Admin]</h3>
<h3>6-Role             [Admin]</h3>
<h3>7-User             [Admin]</h3>